@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Roboto"),
         /* Если не получилось, загрузит woff2 */
         url("/fonts/roboto.woff2") format("woff2"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("/fonts/roboto.woff") format("woff");
}
  

/* Вариативный шрифт */
@font-face {
    font-family: 'SourceSans';
    src: url('source-sans-variable.ttf') format('truetype-variations');
}

/* Теперь можно использовать шрифт */
body {
    font-family: "Roboto", "Arial", sans-serif;
}
  