$font-base: 'Open Sans';
$font-headline: 'Playfair Display';

$color-primary: red;

$body-bg: #242B33;
$body-color: #E7E7E7;

$form-control-bg: #50555C;
$form-control-color: #FFF;
$form-control-placeholder: #BEBEBE;

$btn-primary-bg: $color-primary;
$btn-primary-color: #FFF;