@use '../variables' as *;
@use '../mixins' as *;
@use '../functions' as *;

.subscription-line {
    margin-top: rem(68);
    border-top: 1px solid $border-color;
    padding-top: rem(56);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(36);

    @include sm {
        flex-direction: column;
        align-items: stretch;
    }
}

.subscription-line__title {
    color: var(--section-title-color);
    margin: 0 0 rem(3);
    font-size: rem(24);
    line-height: 1.33;
}
  
.subscription-line__text {
    line-height: 2;
    margin: 0;
}

.subscription-line__form {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    gap: rem(30);

    @include sm {
        flex-direction: column;
        gap: rem(16);
    }    
}

.subscription-line__input {
    width: 100%;
    max-width: rem(370);

    @include sm {
        max-width: none;
    }
}

.subscription-line__submit {
    min-width: rem(170);
}