.banner {
    --font-size-banner-headline: 1.875rem;

    padding: 50px 0;
    text-align: center;

    &--green {
        background-color: var(--color-green);
        color: #ffffff;
    }    
}

.banner__container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 270px;
}

.banner__headline {
    max-width: 555px;
    margin-bottom: 1.34em;
    font-size: var(--font-size-banner-headline);
}

@media screen and (max-width: 768px) {    
    .banner {
        --font-size-banner-headline: 1.5625rem;
    }

    .banner__container {
        min-height: revert;
    }
}
