/* HEADER */

.header {
    --header-padding: 45px 0 10px;
    padding: var(--header-padding);

    &__container {
        align-items: center;
    }

    &__logo {
        margin-right: 165px;
    }
}

.menu-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    &__item:not(:last-child) {
        margin-right: 40px;
    }
}

@media screen and (max-width: 768px) {   
    .header {
        --header-padding: 20px 0 50px;

        &__logo {
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
}