$font-base: 'Poppins';
$font-headline: 'Playfair Display';

$body-bg: #19161B;;
$body-color: #FFF;

$form-control-bg: #19161B;
$form-control-color: #FFF;
$form-control-placeholder: #FFF;

$btn-default-bg: #27252D;;
$btn-default-color: #FFF;