/* BASE */

@font-face {
    font-family: 'Work Sans';
    src: url('./assets/fonts/WorkSans-Variable.ttf') format("truetype-variations");
    font-weight: 400 500;
    font-style: normal;
}

:root {
    --font-family: 'Work Sans', Arial, sans-serif;
    --font-size-h1: 3.5rem;
    --font-size-h2: 2.8rem;
    --font-size-lead: 1.5rem;

    --color-text: #333;

    --color-primary: #0082F3;
    --color-green: #31C5A1;
    --color-purple: #582EFF;
    --color-orange: #FF814A;

    --transition-duration: .3s;
    --transition-timing-function: ease;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: var(--color-text);
}

a {
    color: inherit;
    text-decoration: none;
    transition: color var(--transition-duration) var(--transition-timing-function);
}

a:hover {
    color: var(--color-primary)
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.container--flex {
    display: flex;
}

.logo img {
    max-height: 45px;
}

@media screen and (max-width: 768px) {    
    :root {
        --font-size-h1: 2.8rem;
        --font-size-h2: 2.25rem;
        --font-size-lead: 1.1875rem;
    }

    .logo {
        flex-basis: 100%;
    }

    .container--flex {
        flex-direction: column;
    }
}

/* TYPOGRAPHY */

.h1 {
    font-size: var(--font-size-h1);
    line-height: 1.1;
    font-weight: 500;
    margin: 0 0 2rem;
}

.h2 {
    font-size: var(--font-size-h2);
    line-height: 1.1;
    font-weight: 500;
    margin: 0 0 2rem;
}

.h3 {
    font-size: 1.0625rem;
    line-height: 1.1;
    font-weight: 500;
    margin: 0 0 2rem;
}

.lead {
    font-size: var(--font-size-lead);
    font-weight: 400;
    margin: 0 0 2rem;
}


@media screen and (max-width: 768px) {   
    .h3 {
        margin-bottom: 1rem;
    }
}

/* HEADER */

.header {
    --header-padding: 45px 0 10px;
    padding: var(--header-padding);
}

.header__container {
    align-items: center;
}

.header__logo {
    margin-right: 165px;
}

.menu-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-list__item:not(:last-child) {
    margin-right: 40px;
}


@media screen and (max-width: 768px) {   
    .header {
        --header-padding: 20px 0 50px;
    }

    .header__logo {
        margin-right: 0;
        margin-bottom: 15px;
    }
}

/* TWO COLUMN */

.two-column {
    --two-column-padding: 50px 0;
    padding: var(--two-column-padding);
}

.two-column:first-child .two-column__media {
    min-height: 500px;
}

.two-column:first-child {
    padding-top: 0;
}

.two-column__container {
    gap: 2rem;
}

.two-column__container > :first-child {
    padding-left: 100px;
    width: calc(100% / 5 * 3);
}

.two-column__container > :last-child {
    width: calc(100% / 5 * 2);
}

.two-column__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.two-column__text-headline {
    max-width: 16ch;
}

.two-column__text-lead {
    max-width: 25ch;
}

.two-column__media {
    min-height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media screen and (max-width: 768px) {  
    .two-column {
        --two-column-padding: 25px 0;
    }

    .two-column__container {
        position: relative;
        text-align: center;
        align-items: center;
    }

    .two-column__text-headline,
    .two-column__text-lead {
        max-width: revert;
    }
    
    .two-column__container > :first-child,
    .two-column__container > :last-child {
        width: 100%;
        padding-left: 0;
    }

    .two-column__media {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        min-height: auto;
        opacity: .1;
    }
    
    .two-column:first-child .two-column__media {
        min-height: auto;
    }

    .two-column__text {
        min-height: 300px;
        z-index: 1;
    }
}

/* DOWNLOAD LIST */

.download-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.download-list__item:not(:last-child) {
    margin-right: 8px;
}

.download-list__link {
    display: block;
    border-radius: 5px;
    background-color: #333;
}

.download-list__link img {
    vertical-align: middle;
    transition: opacity .3s;
}

.download-list__link:hover img {
    opacity: .75;
}

@media screen and (max-width: 768px) {    
    .download-list {
        justify-content: center;
    }
}

/* GUID */

.guide {
    padding: 50px 0;
    text-align: center;
}

.guide-list {
    display: flex;
    justify-content: space-between;
    max-width: 1065px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.guide-list__item {
    width: 100%;
    max-width: 300px;
    position: relative;
    margin-right: 80px;
    padding: 50px 20px;
    box-shadow: 0px 0px 10px 0px #B7B7B7;
    border-top: 12px solid;
}

.guide-list__item:last-child {
    margin-right: 0;
}

.guide-list__item::before {
    content: '';
    width: 80px;
    height: 70px;
    margin: 0 auto 50px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.guide-list__item:not(:last-child)::after {
    content: '';
    position: absolute;
    top: calc(50% - 20px);
    left: 100%;
    transform: translateX(50%);
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: var(--color-purple);
    color: white;
    background-image: url('assets/icons/arrow-blue.svg');
    background-size: contain;
}

.guide-list__item--purple {
    border-top-color: var(--color-purple);
}

.guide-list__item--orange {
    border-top-color: var(--color-orange);
}

.guide-list__item--green {
    border-top-color: var(--color-green);
}

.guide-list__item--account::before {
    background-image: url('assets/icons/icon-account.svg');
}

.guide-list__item--application::before {
    background-image: url('assets/icons/icon-application.svg');
}

.guide-list__item--cash::before {
    background-image: url('assets/icons/icon-cash.svg');
}

.guide-list__item-desc {
    margin: 0;
}

@media screen and (max-width: 768px) {       
    .guide-list {
        align-items: center;
        flex-direction: column;
    }

    .guide-list__item {
        margin-right: 0;
    }

    .guide-list__item:not(:last-child) {
        margin-bottom: 50px;
    }

    .guide-list__item:not(:last-child)::after {
        width: 30px;
        height: 30px;
        top: calc(100% + 10px);
        left: calc(50% - 20px);
        transform: rotate(0.25turn);
    }
}

/* BANNER */

.banner {
    --font-size-banner-headline: 1.875rem;

    padding: 50px 0;
    text-align: center;
}

.banner--green {
    background-color: var(--color-green);
    color: #ffffff;
}

.banner__container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 270px;
}

.banner__headline {
    max-width: 555px;
    margin-bottom: 1.34em;
    font-size: var(--font-size-banner-headline);
}

@media screen and (max-width: 768px) {    
    .banner {
        --font-size-banner-headline: 1.5625rem;
    }

    .banner__container {
        min-height: revert;
    }
}

/* FOOTER */

.footer {
    padding: 50px 0;
}

.footer__container {
    gap: 30px;
    justify-content: space-between;
}

.footer__section {
    margin-top: 0;
    max-width: 265px;
    font-size: 1.0625rem;
    line-height: 1.765;
    font-style: normal;
}

.footer__section-info {
    margin-top: 0;
}

.footer__section dt {
    font-weight: 500;
    margin-bottom: .3em;
}

.footer__section dd {
    margin-left: 0;
}

@media screen and (max-width: 768px) {   
    .footer__container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer__section {
        max-width: unset;
        flex-basis: calc(50% - 30px);
        flex-grow: 1;
        font-size: .9375rem;
    }

}
